In [1]:
import requests
import pandas as pd
from datetime import datetime, timedelta

In [3]:
#API 콜로 1년 전부터 어제까지 주식데이터 가져오기

# API URL
url = "http://data-dbg.krx.co.kr/svc/apis/sto/stk_bydd_trd"

# 인증키 설정
auth_key = "956087495A1D4769A88B0F3411D0890EF02445EB"  # 제공받은 인증키로 대체하세요

# 헤더작성
headers = {
    "AUTH_KEY": auth_key,

}
# 1년 전 날짜와 어제 날짜 계산
start_date = datetime.today() - timedelta(days=365)
end_date = datetime.today() - timedelta(days=1)


# # 1년 1개월 전 날짜와 어제 날짜 계산
# start_date = datetime.today() - timedelta(days=395)
# end_date = datetime.today() - timedelta(days=30)

# 결과를 저장할 DataFrame
all_data = pd.DataFrame()

# 날짜 반복하여 API 호출
current_date = start_date
while current_date <= end_date:
    bas_dd = current_date.strftime('%Y%m%d')  # YYYYMMDD 형식 변환
    
    # 요청 파라미터
    params = {
        "basDd": bas_dd  # 조회 기준일
    }
    
    # API 요청
    response = requests.get(url, headers=headers, params=params)
    
    # 응답 확인 및 데이터 처리
    if response.status_code == 200:
        data = response.json()
        if 'OutBlock_1' in data and data['OutBlock_1']:  # 데이터가 존재할 경우
            temp_df = pd.DataFrame(data['OutBlock_1'])
            all_data = pd.concat([all_data, temp_df], ignore_index=True)
            print(f"데이터 가져오기 성공: {bas_dd}")
        else:
            print(f"데이터 없음: {bas_dd}")
    else:
        print(f"Error {response.status_code} on {bas_dd}: {response.text}")
    
    # 다음 날짜로 이동
    current_date += timedelta(days=1)

데이터 가져오기 성공: 20231123
데이터 가져오기 성공: 20231124
데이터 없음: 20231125
데이터 없음: 20231126
데이터 가져오기 성공: 20231127
데이터 가져오기 성공: 20231128
데이터 가져오기 성공: 20231129
데이터 가져오기 성공: 20231130
데이터 가져오기 성공: 20231201
데이터 없음: 20231202
데이터 없음: 20231203
데이터 가져오기 성공: 20231204
데이터 가져오기 성공: 20231205
데이터 가져오기 성공: 20231206
데이터 가져오기 성공: 20231207
데이터 가져오기 성공: 20231208
데이터 없음: 20231209
데이터 없음: 20231210
데이터 가져오기 성공: 20231211
데이터 가져오기 성공: 20231212
데이터 가져오기 성공: 20231213
데이터 가져오기 성공: 20231214
데이터 가져오기 성공: 20231215
데이터 없음: 20231216
데이터 없음: 20231217
데이터 가져오기 성공: 20231218
데이터 가져오기 성공: 20231219
데이터 가져오기 성공: 20231220
데이터 가져오기 성공: 20231221
데이터 가져오기 성공: 20231222
데이터 없음: 20231223
데이터 없음: 20231224
데이터 없음: 20231225
데이터 가져오기 성공: 20231226
데이터 가져오기 성공: 20231227
데이터 가져오기 성공: 20231228
데이터 없음: 20231229
데이터 없음: 20231230
데이터 없음: 20231231
데이터 없음: 20240101
데이터 가져오기 성공: 20240102
데이터 가져오기 성공: 20240103
데이터 가져오기 성공: 20240104
데이터 가져오기 성공: 20240105
데이터 없음: 20240106
데이터 없음: 20240107
데이터 가져오기 성공: 20240108
데이터 가져오기 성공: 20240109
데이터 가져오기 성공: 20240110
데이터 가져오기 성공: 20240111
데이터 가져오기 성공: 20240112
데이터 없음: 20240113
데이터 없음: 20240114
데이터 가져오기 성공: 20240115
데이터 가져오기 성공: 20240116
데이터 가져오기 성공: 20240117
데이터 가져오기 성공: 20240118
데이터 가져오기 성공: 20240119
데이터 없음: 20240120
데이터 없음: 20240121
데이터 가져오기 성공: 20240122
데이터 가져오기 성공: 20240123
데이터 가져오기 성공: 20240124
데이터 가져오기 성공: 20240125
데이터 가져오기 성공: 20240126
데이터 없음: 20240127
데이터 없음: 20240128
데이터 가져오기 성공: 20240129
데이터 가져오기 성공: 20240130
데이터 가져오기 성공: 20240131
데이터 가져오기 성공: 20240201
데이터 가져오기 성공: 20240202
데이터 없음: 20240203
데이터 없음: 20240204
데이터 가져오기 성공: 20240205
데이터 가져오기 성공: 20240206
데이터 가져오기 성공: 20240207
데이터 가져오기 성공: 20240208
데이터 없음: 20240209
데이터 없음: 20240210
데이터 없음: 20240211
데이터 없음: 20240212
데이터 가져오기 성공: 20240213
데이터 가져오기 성공: 20240214
데이터 가져오기 성공: 20240215
데이터 가져오기 성공: 20240216
데이터 없음: 20240217
데이터 없음: 20240218
데이터 가져오기 성공: 20240219
데이터 가져오기 성공: 20240220
데이터 가져오기 성공: 20240221
데이터 가져오기 성공: 20240222
데이터 가져오기 성공: 20240223
데이터 없음: 20240224
데이터 없음: 20240225
데이터 가져오기 성공: 20240226
데이터 가져오기 성공: 20240227
데이터 가져오기 성공: 20240228
데이터 가져오기 성공: 20240229
데이터 없음: 20240301
데이터 없음: 20240302
데이터 없음: 20240303
데이터 가져오기 성공: 20240304
데이터 가져오기 성공: 20240305
데이터 가져오기 성공: 20240306
데이터 가져오기 성공: 20240307
데이터 가져오기 성공: 20240308
데이터 없음: 20240309
데이터 없음: 20240310
데이터 가져오기 성공: 20240311
데이터 가져오기 성공: 20240312
데이터 가져오기 성공: 20240313
데이터 가져오기 성공: 20240314
데이터 가져오기 성공: 20240315
데이터 없음: 20240316
데이터 없음: 20240317
데이터 가져오기 성공: 20240318
데이터 가져오기 성공: 20240319
데이터 가져오기 성공: 20240320
데이터 가져오기 성공: 20240321
데이터 가져오기 성공: 20240322
데이터 없음: 20240323
데이터 없음: 20240324
데이터 가져오기 성공: 20240325
데이터 가져오기 성공: 20240326
데이터 가져오기 성공: 20240327
데이터 가져오기 성공: 20240328
데이터 가져오기 성공: 20240329
데이터 없음: 20240330
데이터 없음: 20240331
데이터 가져오기 성공: 20240401
데이터 가져오기 성공: 20240402
데이터 가져오기 성공: 20240403
데이터 가져오기 성공: 20240404
데이터 가져오기 성공: 20240405
데이터 없음: 20240406
데이터 없음: 20240407
데이터 가져오기 성공: 20240408
데이터 가져오기 성공: 20240409
데이터 없음: 20240410
데이터 가져오기 성공: 20240411
데이터 가져오기 성공: 20240412
데이터 없음: 20240413
데이터 없음: 20240414
데이터 가져오기 성공: 20240415
데이터 가져오기 성공: 20240416
데이터 가져오기 성공: 20240417
데이터 가져오기 성공: 20240418
데이터 가져오기 성공: 20240419
데이터 없음: 20240420
데이터 없음: 20240421
데이터 가져오기 성공: 20240422
데이터 가져오기 성공: 20240423
데이터 가져오기 성공: 20240424
데이터 가져오기 성공: 20240425
데이터 가져오기 성공: 20240426
데이터 없음: 20240427
데이터 없음: 20240428
데이터 가져오기 성공: 20240429
데이터 가져오기 성공: 20240430
데이터 없음: 20240501
데이터 가져오기 성공: 20240502
데이터 가져오기 성공: 20240503
데이터 없음: 20240504
데이터 없음: 20240505
데이터 없음: 20240506
데이터 가져오기 성공: 20240507
데이터 가져오기 성공: 20240508
데이터 가져오기 성공: 20240509
데이터 가져오기 성공: 20240510
데이터 없음: 20240511
데이터 없음: 20240512
데이터 가져오기 성공: 20240513
데이터 가져오기 성공: 20240514
데이터 없음: 20240515
데이터 가져오기 성공: 20240516
데이터 가져오기 성공: 20240517
데이터 없음: 20240518
데이터 없음: 20240519
데이터 가져오기 성공: 20240520
데이터 가져오기 성공: 20240521
데이터 가져오기 성공: 20240522
데이터 가져오기 성공: 20240523
데이터 가져오기 성공: 20240524
데이터 없음: 20240525
데이터 없음: 20240526
데이터 가져오기 성공: 20240527
데이터 가져오기 성공: 20240528
데이터 가져오기 성공: 20240529
데이터 가져오기 성공: 20240530
데이터 가져오기 성공: 20240531
데이터 없음: 20240601
데이터 없음: 20240602
데이터 가져오기 성공: 20240603
데이터 가져오기 성공: 20240604
데이터 가져오기 성공: 20240605
데이터 없음: 20240606
데이터 가져오기 성공: 20240607
데이터 없음: 20240608
데이터 없음: 20240609
데이터 가져오기 성공: 20240610
데이터 가져오기 성공: 20240611
데이터 가져오기 성공: 20240612
데이터 가져오기 성공: 20240613
데이터 가져오기 성공: 20240614
데이터 없음: 20240615
데이터 없음: 20240616
데이터 가져오기 성공: 20240617
데이터 가져오기 성공: 20240618
데이터 가져오기 성공: 20240619
데이터 가져오기 성공: 20240620
데이터 가져오기 성공: 20240621
데이터 없음: 20240622
데이터 없음: 20240623
데이터 가져오기 성공: 20240624
데이터 가져오기 성공: 20240625
데이터 가져오기 성공: 20240626
데이터 가져오기 성공: 20240627
데이터 가져오기 성공: 20240628
데이터 없음: 20240629
데이터 없음: 20240630
데이터 가져오기 성공: 20240701
데이터 가져오기 성공: 20240702
데이터 가져오기 성공: 20240703
데이터 가져오기 성공: 20240704
데이터 가져오기 성공: 20240705
데이터 없음: 20240706
데이터 없음: 20240707
데이터 가져오기 성공: 20240708
데이터 가져오기 성공: 20240709
데이터 가져오기 성공: 20240710
데이터 가져오기 성공: 20240711
데이터 가져오기 성공: 20240712
데이터 없음: 20240713
데이터 없음: 20240714
데이터 가져오기 성공: 20240715
데이터 가져오기 성공: 20240716
데이터 가져오기 성공: 20240717
데이터 가져오기 성공: 20240718
데이터 가져오기 성공: 20240719
데이터 없음: 20240720
데이터 없음: 20240721
데이터 가져오기 성공: 20240722
데이터 가져오기 성공: 20240723
데이터 가져오기 성공: 20240724
데이터 가져오기 성공: 20240725
데이터 가져오기 성공: 20240726
데이터 없음: 20240727
데이터 없음: 20240728
데이터 가져오기 성공: 20240729
데이터 가져오기 성공: 20240730
데이터 가져오기 성공: 20240731
데이터 가져오기 성공: 20240801
데이터 가져오기 성공: 20240802
데이터 없음: 20240803
데이터 없음: 20240804
데이터 가져오기 성공: 20240805
데이터 가져오기 성공: 20240806
데이터 가져오기 성공: 20240807
데이터 가져오기 성공: 20240808
데이터 가져오기 성공: 20240809
데이터 없음: 20240810
데이터 없음: 20240811
데이터 가져오기 성공: 20240812
데이터 가져오기 성공: 20240813
데이터 가져오기 성공: 20240814
데이터 없음: 20240815
데이터 가져오기 성공: 20240816
데이터 없음: 20240817
데이터 없음: 20240818
데이터 가져오기 성공: 20240819
데이터 가져오기 성공: 20240820
데이터 가져오기 성공: 20240821
데이터 가져오기 성공: 20240822
데이터 가져오기 성공: 20240823
데이터 없음: 20240824
데이터 없음: 20240825
데이터 가져오기 성공: 20240826
데이터 가져오기 성공: 20240827
데이터 가져오기 성공: 20240828
데이터 가져오기 성공: 20240829
데이터 가져오기 성공: 20240830
데이터 없음: 20240831
데이터 없음: 20240901
데이터 가져오기 성공: 20240902
데이터 가져오기 성공: 20240903
데이터 가져오기 성공: 20240904
데이터 가져오기 성공: 20240905
데이터 가져오기 성공: 20240906
데이터 없음: 20240907
데이터 없음: 20240908
데이터 가져오기 성공: 20240909
데이터 가져오기 성공: 20240910
데이터 가져오기 성공: 20240911
데이터 가져오기 성공: 20240912
데이터 가져오기 성공: 20240913
데이터 없음: 20240914
데이터 없음: 20240915
데이터 없음: 20240916
데이터 없음: 20240917
데이터 없음: 20240918
데이터 가져오기 성공: 20240919
데이터 가져오기 성공: 20240920
데이터 없음: 20240921
데이터 없음: 20240922
데이터 가져오기 성공: 20240923
데이터 가져오기 성공: 20240924
데이터 가져오기 성공: 20240925
데이터 가져오기 성공: 20240926
데이터 가져오기 성공: 20240927
데이터 없음: 20240928
데이터 없음: 20240929
데이터 가져오기 성공: 20240930
데이터 없음: 20241001
데이터 가져오기 성공: 20241002
데이터 없음: 20241003
데이터 가져오기 성공: 20241004
데이터 없음: 20241005
데이터 없음: 20241006
데이터 가져오기 성공: 20241007
데이터 가져오기 성공: 20241008
데이터 없음: 20241009
데이터 가져오기 성공: 20241010
데이터 가져오기 성공: 20241011
데이터 없음: 20241012
데이터 없음: 20241013
데이터 가져오기 성공: 20241014
데이터 가져오기 성공: 20241015
데이터 가져오기 성공: 20241016
데이터 가져오기 성공: 20241017
데이터 가져오기 성공: 20241018
데이터 없음: 20241019
데이터 없음: 20241020
데이터 가져오기 성공: 20241021
데이터 가져오기 성공: 20241022
데이터 가져오기 성공: 20241023
데이터 가져오기 성공: 20241024
데이터 가져오기 성공: 20241025
데이터 없음: 20241026
데이터 없음: 20241027
데이터 가져오기 성공: 20241028
데이터 가져오기 성공: 20241029
데이터 가져오기 성공: 20241030
데이터 가져오기 성공: 20241031
데이터 가져오기 성공: 20241101
데이터 없음: 20241102
데이터 없음: 20241103
데이터 가져오기 성공: 20241104
데이터 가져오기 성공: 20241105
데이터 가져오기 성공: 20241106
데이터 가져오기 성공: 20241107
데이터 가져오기 성공: 20241108
데이터 없음: 20241109
데이터 없음: 20241110
데이터 가져오기 성공: 20241111
데이터 가져오기 성공: 20241112
데이터 가져오기 성공: 20241113
데이터 가져오기 성공: 20241114
데이터 가져오기 성공: 20241115
데이터 없음: 20241116
데이터 없음: 20241117
데이터 가져오기 성공: 20241118
데이터 가져오기 성공: 20241119
데이터 가져오기 성공: 20241120
데이터 가져오기 성공: 20241121

In [55]:
# 최종 데이터 확인 및 저장
#krx_data.csv로 저장.

if not all_data.empty:
    print("데이터 조회 완료")
    print(all_data.head())
    all_data.to_csv("krx_data.csv", index=False, encoding="utf-8-sig")
else:
    print("조회된 데이터가 없습니다.")

데이터 조회 완료
     BAS_DD  ISU_CD   ISU_NM MKT_NM SECT_TP_NM TDD_CLSPRC CMPPREVDD_PRC  \
0  20231123  095570   AJ네트웍스  KOSPI          -       4160           -40
1  20231123  006840    AK홀딩스  KOSPI          -      17990           110
2  20231123  027410      BGF  KOSPI          -       3530           -25
3  20231123  282330   BGF리테일  KOSPI          -     131100         -1200
4  20231123  138930  BNK금융지주  KOSPI          -       7110            40

  FLUC_RT TDD_OPNPRC TDD_HGPRC TDD_LWPRC ACC_TRDVOL  ACC_TRDVAL  \
0   -0.95       4200      4200      4145      46902   195536505
1    0.62      17870     18010     17780       3677    65933820
2   -0.70       3580      3580      3525      57335   203175895
3   -0.91     132600    133300    131100      60239  7950025700
4    0.57       7070      7130      7060     538869  3820886230

          MKTCAP  LIST_SHRS
0   188251477440   45252759
1   238323622390   13247561
2   337880272230   95716791
3  2265920076600   17283906
4  2290048794180  322088438

In [53]:
# 연간 수익률 계산 코드

# 마지막 날짜 확인
latest_date = all_data['BAS_DD'].max()

# 연간 데이터 필터링 (마지막 날짜 기준 같은 연도 데이터)
latest_year = str(latest_date)[:4]  # 연도만 추출
yearly_data = all_data[all_data['BAS_DD'].astype(str).str.startswith(latest_year)]

# FLUC_RT를 숫자로 변환
yearly_data['FLUC_RT'] = pd.to_numeric(yearly_data['FLUC_RT'], errors='coerce')

# 종목별 연간 주가 변동폭 계산
yearly_fluc_rt = yearly_data.groupby('ISU_NM')['FLUC_RT'].sum().reset_index()
yearly_fluc_rt.rename(columns={'FLUC_RT': 'Yearly_FLUC_RT'}, inplace=True)

yearly_fluc_rt

/var/folders/_t/w69h1jqn26q43r4mwvlg_c1m0000gn/T/ipykernel_60420/4172981051.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yearly_data['FLUC_RT'] = pd.to_numeric(yearly_data['FLUC_RT'], errors='coerce')

      ISU_NM  Yearly_FLUC_RT
0     AJ네트웍스           -4.95
1      AK홀딩스          -42.77
2        BGF           -5.98
3     BGF리테일          -14.49
4    BNK금융지주           35.95
..       ...             ...
982      휴비스          -43.60
983      휴스틸          -14.16
984     흥국화재           27.99
985    흥국화재우           -4.10
986     흥아해운           -7.39

[987 rows x 2 columns]

In [49]:
# 시총기준 상위 200개 기업 정렬

# MKTCAP 칼럼을 숫자로 변환
all_data['MKTCAP'] = pd.to_numeric(all_data['MKTCAP'], errors='coerce')

# 변환 후 결측값이 있는지 확인
print(all_data['MKTCAP'].isnull().sum())

# 가장 최근 날짜 찾기
latest_date = all_data['BAS_DD'].max()

# 최신 날짜 데이터 필터링
latest_data = all_data[all_data['BAS_DD'] == latest_date]

# MKTCAP 기준 상위 200개 기업 정렬
top_200_companies = latest_data.sort_values(by='MKTCAP', ascending=False).head(200)

# 필요한 칼럼 정리 (ISU_NM, MKTCAP)
result = top_200_companies[['ISU_NM','TDD_CLSPRC', 'MKTCAP']]

# 결과 확인
result

0

            ISU_NM TDD_CLSPRC           MKTCAP
231509        삼성전자      56400  336695735820000
231230      SK하이닉스     168800  122886799212000
231160    LG에너지솔루션     400500   93717000000000
231504    삼성바이오로직스     932000   66334168000000
231979         현대차     215500   45129189160500
...            ...        ...              ...
231093  ESR켄달스퀘어리츠       4805    1023892645000
231711   이수스페셜티케미컬      33150    1001404482000
231971       현대백화점      42750    1000454352750
231413       두산퓨얼셀      15020     983715764520
231211      SK네트웍스       4425     979154716350

[200 rows x 3 columns]

            ISU_NM TDD_CLSPRC           MKTCAP
231509        삼성전자      56400  336695735820000
231230      SK하이닉스     168800  122886799212000
231160    LG에너지솔루션     400500   93717000000000
231504    삼성바이오로직스     932000   66334168000000
231979         현대차     215500   45129189160500
...            ...        ...              ...
231093  ESR켄달스퀘어리츠       4805    1023892645000
231711   이수스페셜티케미컬      33150    1001404482000
231971       현대백화점      42750    1000454352750
231413       두산퓨얼셀      15020     983715764520
231211      SK네트웍스       4425     979154716350

[200 rows x 3 columns]

In [47]:
# 상위 200개 기업에 연간 수익률 붙이기.

# result에 포함된 종목만 필터링
filtered_fluc_rt = yearly_fluc_rt[yearly_fluc_rt['ISU_NM'].isin(result['ISU_NM'])]

# result 데이터프레임과 연간 변동폭 데이터 병합
result_with_fluc = result.merge(filtered_fluc_rt, on='ISU_NM', how='left')

# 결과 확인
print(result_with_fluc)

         ISU_NM TDD_CLSPRC           MKTCAP  Yearly_FLUC_RT
0          삼성전자      56400  336695735820000          -28.50
1        SK하이닉스     168800  122886799212000           28.61
2      LG에너지솔루션     400500   93717000000000            0.54
3      삼성바이오로직스     932000   66334168000000           24.31
4           현대차     215500   45129189160500           12.64
..          ...        ...              ...             ...
195  ESR켄달스퀘어리츠       4805    1023892645000           29.91
196   이수스페셜티케미컬      33150    1001404482000           41.36
197       현대백화점      42750    1000454352750          -15.73
198       두산퓨얼셀      15020     983715764520          -33.67
199      SK네트웍스       4425     979154716350          -16.89

[200 rows x 4 columns]